.user-main .device-num{
    font-size: 12px;
    color: #62696F;
}
.user-main .col-xs-3{
    height: 40px;
}
.user-main .col-xs-3 span{
    display: inline-block;
    font-size: 12px;
    height: 40px;
}

.header div h1{
    text-indent: -2.9em;
}
.list-group{
    width: 92%;
    margin: 0 auto;
}
.list-group-item{
    margin-top: 10px;
    border-radius: 4px;
    border: 0;
}
.deviceInfo{
    background-color: #E0FAFB;
    padding: 10px !important;
    border-radius: 6px;
}
.deviceInfo .sm-text{
    font-size: 16px;
    color: #889494;
    padding: 2px 0;
}
.deviceInfo .sm-text span{
    padding-left: 20px;
}
.user-name{
    padding-bottom: 10px;
}
.user-name span{
    font-size: 16px;
}
.control{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
}
.control .delay-review{
    color: #CCCCCC;
}
.control .not-pass{
    color: #CCCCCC;
}
.control .pass-control{
    color: #57C4C7;
}

.no{
    display: inline-block;
    width: 75.1%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
    top: 6px;
}