body{
    background-color: #F0EFF5 !important;
}
.sm-navbar{
    background-color: #fff;
}
.row{
    width: 100%;
    margin: 0;
}
.header div h1{
    text-indent: -33%;
}
.jt-table-view{
    padding: 0;
    list-style: none;
    background-color: #FFFFFF;
    margin-top: 10px;
    border-radius: 6px;
    padding: 6px 12px;
}
.jt-head-img{
    width:110px;
    height: 80px;
    border-radius: 30px;
}
.jt-head-img img{
    width: 100%;
}
.jt-media-body{
    height: 80px;
    line-height: 80px;
    color: #1D2F2E;
    font-size: 1.5em;
}

.list-group-item a .badge{
    float: right;
}
.user-main .list-group .list-group-item{
    padding: 0;
}
.user-main .list-group .list-group-item a{
    display: inline-block;
    width: 100%;
    color: #A8B0B0;
    padding: 18px 15px;
}
.user-main .list-group .list-group-item a:hover{
    background-color: #F9F9F9;
    text-decoration: none;
}
.user-main .list-group .list-group-item .col-xs-10{
    padding-left: 20px;
}
.list-group-item{
    padding: 18px 15px;
}

.sm-btn{
    padding: 10px 40%;
    background-color: #DC3A3F;
    border: 1px solid #DC3A3F;
}
.sm-btn:hover{
    color: #fff;
    border: 1px solid #DC3A3F;
    background-color: #DC3A3F;
    outline: none;
}
.sm-btn:focus{
    color: #fff;
    border: 1px solid #DC3A3F;
    background-color: #DC3A3F;
    outline: none;
}

.sm-badge-success {
    color: #fff;
    background-color: #4cd964;
    font-weight: 400;
}

.sm-badge-yellow {
    color: #fff;
    background-color: #f0ad4e;
    font-weight: 400;
}

.sm-badge {
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 100px;
    position: absolute;
    top: 30%;
    right: 15px;
}
.list-group{
    margin-top: 16px;
}
.list-group-item{
    border-left: 0;
    border-right: 0;
}
.list-group-item:first-child{
    border-top: 0;
}
.list-group-item:last-child{
    border-bottom: 0;
}